---
// FrontMatter = Component script = Metadatos
// --- = Code fences
// Sever Only
const name = 'Fernando Alberto Herrera Jiménez';
const title = 'Home Page';

const currentDate = new Date();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<h1>{name}</h1>

		<p>Momento actual: {currentDate.toLocaleTimeString()}</p>

		<p id="current-time">Momento actual real: </p>
	</body>

	<footer>2023</footer>

	<script>
		// Client Only
		const currentYear: number = new Date().getFullYear();
		const currentTimeParragraph = document.getElementById("current-time") as HTMLParagraphElement;
		
		const footer = document.querySelector('footer') as HTMLElement;
		footer.innerText = `Año: ${currentYear}`;

		currentTimeParragraph.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;
	</script>
</html>
